# Smartsheet API token
# You can obtain a token from the Smartsheet Developer Portal: https://developers.smartsheet.com/
SMARTSHEET_API_KEY=your_smartsheet_api_token_here

# Control whether deletion operations are enabled (true/false)
# When not set or set to false, delete_rows tool will not be available
ALLOW_DELETE_TOOLS=false